* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.blue-bg h1 {
  background-color: rgb(37, 79, 151);
  color: white;
  text-align: center;
  padding: 20px;
}
.banner-image {
  width: 100%;
}
.banner-image img {
  width: 100%;
  display: block;
}
