.three-puppies,
.two-puppies {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.three-puppies div {
  width: 90%;
  margin: 0px auto;
}
.three-puppies div img {
  width: 100%;
  display: block;
}
.missing-puppy {
  display: none;
}
.missing-puppy p {
  color: black;
  font-size: 40px;
}
.more-puppies {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media (min-width: 780px) {
  .missing-puppy {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
  }
  .three-puppies,
  .two-puppies {
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 40px auto;
  }
}
